<!doctype html>
<html lang="en">
{% load staticfiles %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "polls/main.js" %}"></script>
<link rel="stylesheet" type="text/css" src="{% static "polls/mystyle.css" %}">
</head>

<body>
<h1>Events Near Me</h1>

<!-- TODO: put contents in a table and add js validation at client side -->

<label>Select City</label> &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp

<!-- <select id="select_city" name="city">
  <option value="Bangalore">Bangalore</option>
  <option value="Mumbai">Mumbai</option>
</select> <br><br>-->
<input type="text" id="select_city" name="city"><br><br>

<label> Select Category</label> &nbsp &nbsp
<select id = "select_category" name="category">
  <option value="music">Music</option>
  <option value="sports">Sports</option>
  <option value="spirituality">Spirituality</option>
  <option value="business">Business</option>
</select><br><br>

 <label> Max Results</label> &nbsp &nbsp &nbsp  &nbsp
 <input type="text" id="max_results" name="max_results"><br><br><!-- max results -->
 <input id="submit_btn" type="submit" value="Submit" onclick="onSubmitClicked()">
 <br><br><br>

 <div id="error_or_no_result" name = "error_or_no_result"></div>
</body>
</html>